.d{
    text-align: center;
    background-color:pink;
    width: 1000px;
    border-style: solid;
    border-color:black;
    height: 900px;
    color:black;
    font-size:20px;
    margin-left: 250px;



}