.a{
    
    text-align: center;
    color:red;
    font-size: 50px;

}
.m{
    padding:15px;
    padding-right:50px;
    padding-left: 50px;
    text-align: center;
    margin-left:700px;
     background-color:red;
}
